xml-demos/People.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.wered.org/people"
	xmlns:tns="people" elementFormDefault="qualified">

	<element name="people">
		<complexType>
			<sequence>
				<element name="person" minOccurs="0" maxOccurs="unbounded">
					<complexType>
						<sequence>
							<element name="id" type="int"></element>
							<element name="name" type="string"></element>
							<element name="age" type="int"></element>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
</schema>